body {
    background-color: #332941;
}

#hea {
    font-size: 3rem;
    color: #F8EDFF;
    text-align: center;
}
#sect {
    background-color: #3E3232;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    margin: 2rem;
}

#left, #right {
    width: 290px;
    height: 350px;
    border: 5px dashed #F8F4EC;
    border-radius: 23px;
    padding: 1rem;
}

.lts {
    color: #FCF5ED;
    background-color: #331D2C;
    border-radius: 14px;
    cursor: grab;
    padding: 11px;
    margin: 12px;
}